body {
  background: url("../images/Webp.net-resizeimage.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width:100%;
} 
h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}


.jumbotron {
    background: url("../images/utbanner.jpeg");
    box-sizing: border-box;
    height: 135px;
    font-family: 'Lobster', cursive;
    text-align: center;
    } 

    p.display-4 {
      font-family: 'Lobster', cursive;
      font-size: 25px;
      color: #cc5200;

    }

    p.text-center {
      font-family: 'Bree Serif', serif;
      color: #cc5200;
      font-size: 20px;
      float: right;
    }
    p.summary-correct {
      font-family: 'Lobster', cursive;
      color: #cc5200;
      font-size: 20px;
    }
    p {
      font-family: 'Lobster', cursive;
      color: #cc5200;

    }

    a.btn.btn-primary.btn-lg.btn-block.start-button {
      background: #cc5200;
      border-color: #cc5200;
    }

    a.btn.btn-primary.btn-lg.btn-block.reset-button {
      background: #cc5200;
      border-color: #cc5200;
    }

  
  
   .main-button-container {
    margin-top: 175px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  } 
  
   .timer-p {
    margin-top: 40px;
  }
  
  .answer:hover {
    background: #cc5200;
  }
  
  .answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
  }
  
  .img-wrong {
    margin-top: 40px;
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  } 
   
  
  
      